#display{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin: auto;
    width: 1000px;
    height: auto;
    padding-top: 10px;
    z-index: -1;
    
}

#displayWrap{
    width: 1600px;
  height: 950px;
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin: auto;
  display: -1;
}

#quizBox{
    width:400px;
    height:auto;
    padding: 10px;
    background-color: #EFCC7A;
    border-radius: 10px;
}
#quizwrap{
    width: 1000px;
    height: auto;
    background-color: #6C6B6A;
    border-radius: 10px;
}
#submit{
    width: 100px;
    height: 30px;
    margin: 10px;
}

/* --  Menu NAV --  */

#menu{
  background-color: aquamarine;
  width:100px;
  height:100px;
  border-radius: 50%;
    text-align: center;
    line-height: 100px;
    z-index: 10;
}
#menu:hover{
  background-color: aquamarine;
  width:120px;
  height:120px;
  margin-top:-10px;
  margin-left:-10px;
  border-radius: 50%;
  line-height: 120px;
  font-size: 20pt;
}
/*
#block{
  position:absolute;
  left: 130px;
  top:0;
  width:300px;
  height:300px;
  z-index: 2;
  display: block;
}
*/
#nav{
  text-align: center;
  line-height: 50px;
}
#homeNav {
  position:absolute;
  top:5px;
  left:5px;
  background-color: aquamarine;
  width:50px;
  height:50px;
  border-radius: 50%;
  opacity: 0;
  transition: width 0.2s, left 0.2s, opacity 0.2s, top 0.5s;
  z-index: 1;
}
#destNav{
  position:absolute;
  top:5px;
  left: 130px;
  background-color: aquamarine;
  width:300px;
  height:50px;
  border-radius: 5%;
  opacity: 0;
  transition:top 0.5s, opacity 0.5s, width 0.2s, left 0.2s;
    display: "none";

}
#aboutNav{
  position:absolute;
  top:5px;
  left: 130px;
  background-color: aquamarine;
  width:300px;
  height:50px;
  border-radius: 5%;
  opacity: 0;
  transition:top 0.5s, opacity 0.5s, width 0.2s, left 0.2s;
    display: "none";
}
#contactNav{
  position:absolute;
  top:5px;
  left: 130px;
  background-color: aquamarine;
  width:300px;
  height:50px;
  border-radius: 5%;
  opacity: 0;
  transition:top 0.5s, opacity 0.5s, width 0.2s, left 0.2s;
    display: "none";
}
#quizNav{
  position:absolute;
  top:5px;
  left: 130px;
  background-color: aquamarine;
  width:300px;
  height:50px;
  border-radius: 5%;
  opacity: 0;
  transition:top 0.5s, opacity 0.5s, width 0.2s, left 0.2s;
    display: "none";
}


/* -- MENU NAV -- */